<% if activity.trackable %>
    <li class="list-group-item">
      <div class="activity-pin">
        <div class="info">
          <h4><%= activity.owner.fullname %>
          created this issue <%= time_ago_in_words(activity.created_at) %> ago.</h4>
        </div>
      </div>
    </li>
<% end %>
