<% if activity.trackable %>
    <li class="list-group-item">
      <div class="activity-pin">
        <div class="info">
          <%= link_to activity.owner.fullname %>
          created <%= activity.trackable.name %>
          at <%= activity.trackable.created_at %>
        </div>
      </div>
    </li>
<% end %>