<% if activity.trackable %>
    <li class="list-group-item">
      <div class="activity-pin">
        <div class="info">
          <h4><%= activity.owner.fullname %>
          wrote <%= time_ago_in_words(activity.created_at) %> ago:</h4>
          <%= activity.trackable.message %>
        </div>
      </div>
    </li>
<% end %>