<% if activity.trackable %>
    <li class="list-group-item">
      <div class="activity-pin">
        <div class="info">
          <%= link_to activity.owner.fullname %>
          updated comment at <%= activity.trackable.created_at %>:
          <%= activity.trackable.message %>
        </div>
      </div>
    </li>
<% end %>